:root {
    /*Main Colors*/
    --color-Orange: #b29756;
    --color-White: #fff;
    --color-Black: #000;
    --color-Grey: #CCC;
    --color-Grey2: #333;
    --color-Grey3: #999;

    /*Secondary Colors*/ 
    --color-Grey-White: #f7f7f7;
    --color-Grey4: #EEE;
    --color-Bg: #F7F7F7;
    --color-font-grey: #555;
    --color-White2: #DDD;

    /*Social Medias === */
    --color-twitter: #34c5f0;
    --color-facebook: #336297;
    --color-linkedin: #127cb4;
    --color-googleplus: #e74237;
    --color-pinterest: #b71c29
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif ;
    font-size: 13px;
    overflow-x: hidden;
    background-color: var(--color-Bg);
}


/* ===============
[MENU] */

header {
    height: 100px;
    background-color: var(--color-Black);
}

.header {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
}

.logoimg {
    width: 80px;
    height: 80px;
    background-color: var(--color-Orange);
}

.menu-opener {
    display: none;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu ul,
.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
}

.menu li a {
    color: var(--color-White);
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    border-bottom: 5px solid var(--color-Black);
}

.menu li a:hover {
    border-bottom: 5px solid var(--color-Orange);
    color: var(--color-Grey);
}

/* ===============
[BANNER] */

.banner {
    height: calc(100vh - 100px);
    background-color: var(--color-Grey2);
    background-image: url(../img/complementos/bg.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.banner .sliders {
    width: 1000vw;
    height: 100%;
}

.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
}

.banner .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: var(--color-White);
}

.banner h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}

.banner h1 span {
    color: var(--color-Orange);
}

.banner h2 {
    text-transform: uppercase;
    margin-top: 15px;
}


.banner a:hover {
    background-color: var(--color-White);
    color: var(--color-Orange);
}

.banner .sliders_pointers {
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid var(--color-Orange);
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.banner .pointer:hover {
    background-color: var(--color-Orange);
}

.banner .pointer.active {
    background-color: var(--color-Orange);
}


/* ===============
[Section Padrão] */

.default {
    padding-top: 50px;
    padding-bottom: 50px;
}

.default .section-title,
.default .section-desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.default .section-title {
    font-size: 20px;
}

.default .section-desc {
    font-size: 11px;
    color: var(--color-Grey);
    margin-top: 10px;
    margin-bottom: 40px;
}

.default .section-body {
    max-width: 1140px;
    margin: auto;
}


/* ====== Vairação Clara ====== */
.default.ligth {
    background-color: var(--color-Grey-White);
}

.default.ligth .section-title,
.default.ligth .section-body {
    color: var(--color-Black);
}


/* ====== Vairação Escura ====== */
.default.dark {
    background-color: var(--color-Black);
}

.default.dark .section-title,
.default.dark .section-body {
    color: var(--color-White);
}

/* ====== Vairação Escura Com Background ====== */

.default.dark.bg-team {
    background-image: url('../img/complementos/pexels-lukas-kloeppel-466685.jpg');
    background-size: cover;
    background-position: center;
    padding: 0;
}

/* ====== Buttons ====== */

.button {
    display: inline-block;
    background-color: var(--color-Orange);
    color: var(--color-White);
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.button:hover {
    background-color: var(--color-White);
    color: var(--color-Orange);
    border: 2px solid var(--color-Orange);
}

.button.button--dark {
    background-color: var(--color-Black);
}

.button.button--dark:hover {
    background-color: var(--color-Orange);
    color: var(--color-White);
}


/* ===============
[About Us] */

.section-aboutus {
    display: flex;
}

.section-aboutus--left {
    flex: 1;
}

.section-aboutus--left p {
    font-size: 14px;
    line-height: 22px;
}

.section-aboutus--right {
    width: 520px;
    text-align: center;
}

.section-aboutus--right img {
    width: 480px;
    box-shadow: 0px 5px 10px var(--color-Grey2) ;
}

/* ===============
[Services] */

.section-services {
    display: flex;
}

.section-service {
    flex: 1;
    text-align: center;
    border-right: 1px solid var(--color-Grey2);
    padding: 15px;
}

.section-service:first-child{
    border-left: 1px solid var(--color-Grey2);
}

.section-service h4 {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
}

.section-service p {
    margin-top: 10px;
    font-size: 13px;
    color: var(--color-Grey3);
}

/* ===============
[Projects] */

.section-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-projects--filters {
    border: 1px solid var(--color-Grey);
    background-color: var(--color-Grey4);
    border-radius: 30px;
    display: inline-block;
    padding: 0px 20px;
}

.section-projects--filters ul li {
    list-style: none;
}

.section-projects--filters li {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid var(--color-Grey);
    color: var(--color-font-grey);
    border-bottom: 3px solid var(--color-Grey4);
    cursor: pointer;
}

.section-projects--filters li:hover {
    border-bottom: 3px solid var(--color-Orange);
}

.section-projects--filters li:first-child {
    border-left: none;
}

.section-projects--photos {
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-projects--photo {
    width: 280px;
}

.section-projects--photoarea {
    margin: 10px;
    width: 260px;
    height: 160px;
}

.section-projects--photoarea img {
    width: inherit;
    height: inherit;
}

.section-projects--photoinfo {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-White);
}

.section-projects--photoarea:hover .section-projects--photoinfo {
    display: flex;
    cursor: pointer;
}

.section-projects--photoinfo h5 {
    font-size: 18px;
    font-weight: 600;
}

/* ===============
[Our Team] */

.section-team-area {
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 50px;
    padding-bottom: 50px;
}
.section-team{
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}

/* ====== Sliders ====== */

.section-team .sliders {
    width: 1000vw;
    height: 100%;
}

.section-team .slide {
    width: 280px;
    height: 100%;
    min-height: 300px;
    display: inline-block;
    background-color: var(--color-White);
    margin-right: 20px;
}

.section-team .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: var(--color-Black);
    padding: 30px;
}

.section-team-area .sliders_pointers {
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ====== Pointer ====== */

.section-team-area .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid var(--color-Orange);
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.section-team-area .pointer:hover {
    background-color: var(--color-Orange);
}

.section-team-area .pointer.active {
    background-color: var(--color-Orange);
}

/* ====== Card ====== */

.section-team--avatar {
    width: 150px;
    height: auto;
}

.section-team--name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 30px;
}

.section-team--role {
    font-size: 14px;
    color: var(--color-Grey3);
    margin-top: 5px;
}

.section-team--social {
    display: flex;
    margin-top: 20px;
}

.section-team--social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: var(--color-Grey);
    border-radius: 13px;
    margin-right: 10px;
}

.section-team--social a:hover {
    background-color: var(--color-Orange);
}

/* ===============
[Happy Clients] */

.happyclients .section-body {
    max-width: initial;
    margin-bottom: 50px;
}

.section-happyclients {
    overflow: hidden;
}

/* ====== Sliders ====== */

.section-happyclients .sliders {
    width: 1000vw;
    height: 100%;
}

.section-happyclients .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
}

.section-happyclients .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/* ====== Card ====== */

.section-happyclients--avatar {
    width: 100px;
}

.section-happyclients--name {
    font-weight: bold;
    font-size: 26px;
    margin-top: 26px;
}

.section-happyclients--role {
    font-size: 14px;
}

.section-happyclients--marks {
    width: 20px;
    margin-top: 30px;
}

.section-happyclients--opnion {
    margin-top: 10px;
    font-size: 13px;
    max-width: 700px;
    color: var(--color-font-grey);
    text-align: center;
    line-height: 25px;
    margin-left: 30px;
    margin-right: 30px;
}
/* ====== Pointer ====== */

.section-happyclients .sliders_pointers {
    width: 100vw;
    height: 15px;
    position: absolute;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-happyclients .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid var(--color-Orange);
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.section-happyclients .pointer:hover {
    background-color: var(--color-Orange);
}

.section-happyclients .pointer.active {
    background-color: var(--color-Orange);
}


/* ===============
[Companies] */

.section-companies {
    border-top: 1px solid var(--color-White2);
    border-bottom: 1px solid var(--color-White2);
    background-color: var(--color-White);
}

.section-companies-area {
    display: flex;
    align-items: center;
}

.section-company {
    flex: 1;
    text-align: center;
}


/* ===============
[Price] */

.section-price {
    display: flex;
}

.section-price--item {
    flex: 1;
    background-color: var(--color-White);
    margin-right: 20px;
    padding: 20px;
    text-align: center;
}

.section-price--item:last-child {
    margin-right: 0;
}

.section-price--item-name {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
}

.section-price--item-money {
    font-weight: bold;
    font-size: 22px;
    margin-top: 10px;
}

.section-price--item-period {
    color: var(--color-Grey3);
    text-transform: uppercase;
    margin-bottom: 20px;
}

.section-price--item-point {
    font-size: 12px;
}

/* ===============
[Premium] */

.premium {
    background-color: var(--color-White);
    border-top: 1px solid var(--color-Grey);
}

.premium .section-body {
    max-width: initial;
}

.section-premium {
    overflow: hidden;
}

.section-premium a {
    margin-top: 30px;
}

/* ====== Sliders ====== */

.section-premium .sliders {
    width: 1000vw;
    height: 100%;
}

.section-premium .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
}

.section-premium .slidearea {
    display: flex;
    height:100%;
    justify-content: center;
    align-items:center;
    max-width:1140px;
    border-bottom:1px solid #CCC;
    margin:auto;
    padding-bottom:40px;
}

/* ====== Left ====== */

.section-premium--left {
    flex: 1;
    text-align: right;
}

.section-premium--left img {
    width: 300px;
    margin-right: 30px;
}

/* ====== Right ====== */

.section-premium--right {
    flex: 1;
}

/* ====== Itens ====== */

.section-premium--item {
    display: flex;
    margin-bottom: 20px;
}

.section-premium--item img {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.section-premium--item div {
    flex: 1;
    color: var(--color-Grey3);
    line-height: 20px;
}

.section-premium--item div h4 {
    color: var(--color-Black);
    font-size: 17px;
    font-weight: 600;
}

/* ====== Pointers ====== */

.section-premium .sliders-pointers {
    width:100vw;
    height:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:40px;
}

.section-premium .pointer {
    width:15px;
    height:15px;
    border:2px solid #B28756;
    border-radius:8px;
    margin-left:5px;
    margin-right:5px;
    cursor:pointer;
}

.section-premium .pointer:hover {
    background-color: var(--color-Orange);
}

.section-premium .pointer.active {
    background-color:#B28756;
}

/* ===============
[Some Facts] */

.section-facts {
    display: flex;
}

.section-fact {
    flex: 1;
    text-align: center;
    padding: 15px;
}

.section-fact h1 {
    font-size: 45px;
    color: var(--color-Orange);
}

.section-fact-line {
    width: 20px;
    border-bottom: 2px solid var(--color-Orange);
    margin: auto;
}

.section-fact h4 {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
}

.section-fact p {
    margin-top: 10px;
    font-size: 13px;
    color: var(--color-Grey3);
}


/* ===============
[Share] */

.section-share {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--color-White);
    color: var(--color-Grey3);
}

.section-share--legend {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.section-share--legend img {
    margin-right: 10px;
}

.section-share--item {
    font-size: 12px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.section-share--icon {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: var(--color-Grey3);
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-share--icon img {
    height: 12px;
}

.section-share--icon.twitter {
    background-color: var(--color-twitter);
}

.section-share--icon.linkedin {
    background-color: var(--color-linkedin);
}

.section-share--icon.facebook {
    background-color: var(--color-facebook);
}

.section-share--icon.googleplus {
    background-color: var(--color-googleplus);
}

.sectionshare--icon.pinterest {
    background-color: var(--color-pinterest);
}

/* ===============
[Contact Us] */

.section-contact {
    max-width: 450px;
    margin: auto;
    text-align: center;
}

.section-contact input[type=text],
.section-contact textarea {
    display: block;
    width: 100%;
    height: 40px;
    border: 0;
    background: transparent;
    border-bottom: 1px solid var(--color-Grey);
    outline: 0;
    margin-top: 10px;
}

.section-contact textarea {
    height: 100px;
    resize: none;
}

.section-contact--split {
    display: flex;
}

.section-contact--split input:first-child {
    margin-right: 20px;
}

/* ===============
[Map] */

.section-map {
    background-image: url(../img/complementos/mapa.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.section-map--area {
    width: 100vw;
    max-width: 1140px;
    margin: auto;
}

.section-map--info {
    width: 50%;
    padding: 30px;
    background-color: var(--color-White);
    color: var(--color-Black);
}

.section-map--info-item {
    display: flex;
    align-items: center;
    color: var(--color-Grey3);
    margin-bottom: 10px;
}

.section-map--info-item-img {
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: var(--color-Grey3);
    border-radius: 15px;
    margin-right: 15px;
}

.section-map--info-item-img img {
    width: 15px;
    height: auto;
}

/* ===============
[Footer] */

footer {
    background-color: var(--color-Black);
    padding: 20px;
}

.footer-area {
    max-width: 1140px;
    margin: auto;
    color: var(--color-White);
    display: flex;
}

.footer-item {
    flex: 1;
}

.footer-social {
    display: flex;
}

.footer-social a {
    display: block;
    width: 35px;
    height: 35px;
    background-color: var(--color-Grey2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 23px;
    margin-right: 10px;
}

.footer-social a:hover {
    background-color: var(--color-Orange);
}

.footer-social img {
    height: 15px;
}

.footer-item.area2 {
    color: var(--color-Grey3);
    line-height: 20px;
    font-size: 13px;
    padding: 0 10px 10px 10px;
} 

.footer-item.area3 form {
    background-color: var(--color-Grey2);
    text-align: center;
    padding: 30px;
}

.footer-item.area3 input {
    width: 100%;
    height: 40px;
    border: 0;
    background: transparent;
    border-bottom: 1px solid var(--color-Grey);
    outline: 0;
    color: var(--color-White);
    font-size: 14px;
    text-align: center;
}






@media (min-width:450px) and (max-width:800px) {
    .logo {
        margin-left:30px;
    }
    .menu-opener {
        display:block;
        width:45px;
        margin-right:30px;
    }
    nav {
        display:none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.9);
        width: 70vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
    }
    .menu ul {
        flex-direction:column;
    }

    .menu li a {
        font-weight:bold;
        height:80px;
        font-size:27px;
        margin-left:50px;
        border:0;
    }
    .menu li.active a {
        border:0;
        color:var(--color-Orange);
    }


    .section-aboutus {
        flex-direction:column;
    }
    .section-aboutus--left {
        margin-left:30px;
        margin-right:30px;
        margin-bottom:30px;
    }

    .section-aboutus--right {
        width:auto;
    }

    .section-services {
        flex-wrap:wrap;
    }
    .section-service {
        min-width:50%;
        margin-bottom:30px;
    }
    .section-service:first-child {
        border-left:0;
    }

    .section-team {
        max-width:580px;
    }

    .section-price {
        flex-wrap:wrap;
    }
    .section-price--item {
        margin-left:20px;
        min-width:calc(50% - 40px);
        margin-bottom:20px;
    }
    .section-price--item:last-child {
        margin-right:20px;
    }

    .section-facts {
        flex-wrap:wrap;
    }
    .section-fact {
        min-width:50%;
    }


    .section-map {
        padding-left:30px;
        padding-right:30px;
    }
    .section-map--area {
        width:auto;
    }
    .section-map--info {
        width:auto;
    }
    .section-map--info-item {
        margin-bottom:20px;
    }
    .section-map--info-item:last-child {
        margin-bottom:0;
    }
}

@media (max-width:450px) {
    .logo {
        margin-left:30px;
    }
    .menu-opener {
        display:block;
        width:45px;
        margin-right:30px;
    }
    nav {
        display:none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.9);
        width: 80vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
    }
    .menu ul {
        flex-direction:column;
    }

    .menu li a {
        font-weight:bold;
        height:60px;
        font-size:20px;
        margin-left:30px;
        border:0;
    }
    .menu li.active a {
        border:0;
        color:#B28756;
    }

    .banner h1 {
        font-size:30px;
    }
    .banner h2 {
        font-size:17px;
    }


    .section-aboutus {
        flex-direction:column;
    }
    .section-aboutus--left {
        margin-left:30px;
        margin-right:30px;
        margin-bottom:30px;
    }

    .section-aboutus--right {
        width:auto;
        margin-left:30px;
        margin-right:30px;
    }
    .section-aboutus--right img {
        width:100%;
    }

    .section-services {
        flex-wrap:wrap;
    }
    .section-service {
        min-width:100%;
        margin-bottom:30px;
    }
    .section-service:first-child {
        border-left:0;
    }

    .section-projects--filters {
        margin-left:30px;
        margin-right:30px;
    }
    .section-projects--photo {
        width:320px;
    }
    .section-projects--photoarea {
        width:300px;
        height:190px;
    }

    .section-team {
        max-width:280px;
    }

    .section-companies--area {
        flex-wrap:wrap;
    }
    .section-company {
        min-width: 50%;
        margin-bottom: 20px;
    }

    .section-price {
        flex-wrap:wrap;
    }
    .section-price--item {
        margin-left:20px;
        min-width:calc(100% - 40px);
        margin-bottom:20px;
    }
    .section-price--item:last-child {
        margin-right:20px;
    }

    .section-premium .slidearea {
        flex-direction: column;
    }
    .section-premium--left {
        text-align:center;
        margin-bottom:30px;
    }
    .section-premium--right {
        padding-left:20px;
        padding-right:20px;
    }

    .section-facts {
        flex-wrap:wrap;
    }
    .section-fact {
        min-width:100%;
    }

    .section-share {
        flex-wrap:wrap;
        justify-content: flex-start;
    }
    .section-share--legend {
        width:100vw;
        margin:0;
        margin-bottom:30px;
        justify-content: center;
    }
    .section-share--item {
        min-width: 50%;
        max-width: 50%;
        margin: 0;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 20px;
        
    }

    .section-contact {
        max-width:100vw;
        margin-left:20px;
        margin-right:20px;
    }
    .section-contact--split {
        flex-direction: column;
    }

    .section-map {
        padding:0;
        padding-bottom:250px;
    }
    .section-map--area {
        width:auto;
    }
    .section-map--info {
        width:auto;
    }
    .section-map--info-item {
        margin-bottom:20px;
    }
    .section-map--info-item:last-child {
        margin-bottom:0;
    }

    .footer--area {
        flex-direction:column;
    }
    .footer--item {
        margin-bottom:20px;
    }
    .footer-social {
        justify-content: center;
    }
}